{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Nicole Moyo - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Resume of Nicole Moyo."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Nicole Moyo" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Nicole Moyo</h1>
			<h2 class="quickFade delayThree">Backend Development Intern</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Email: nicolemoyo48@gmail.com</li>
				<li><a href="https://www.linkedin.com/in/nicole-moyo-bb0148178/">LinkedIn profile</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
					<p class="subDetails">Current Location:</p>
					<p class="subDetails">Bulawayo, Zimbabwe</p>
				</div>
				
				<div class="sectionContent">
					<p>I have a clear, logical mind with a practical approach to problem-solving and a drive to see things through to completion. My interest in technonology has motivated me to pursue a BSc in Computer Science, and I am currently in second year at the African Leadership University. I have excellent communication skills, enabling me to effectively communicate with a wide range of people. I am always seeking oppoturnities to grow as a developer so that I am well equipped to provide solutions for my community.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			
			<div class="sectionTitle">
				<h1>Work Experience</h1>
				<img src="{% static 'images/ZuriInternship.svg' %}" alt="Zuri Internship Logo" />
				<img src="{% static 'images/ifglogo.JPG' %}" alt="Ingressive Logo" />
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Backend Development Intern at Zuri</h2>
					<p class="subDetails">August 2021 - Present</p>
					<p><a href="https://internship.zuri.team/">Zuri HNG Internship</a></p>
					<p>I have gained additional skills in backend development due to the different applications I have engaged with thus far. These include:
					<ul class="keySkills">	
						<li> Python
						<li> Django	
						<li> Html
						<li> CSS
					</ul></p>		
				</article>
				
			</div>
			<div class="clear"></div>

		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Content Creation - Youtube</li>
					<li>Cloud Computing - Google </li>
					<li>Teamwork</li>
					<li>Backend Development</li>
					<li>Communication</li>
					<li>Empathy</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>African Leadership University</h2>
					<p class="subDetails">Bsc Computer Science - Class of 2024</p>
					<p class="subDetails">Kigali,Rwanda</p>
					<p><p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>